body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.carousel {
    width: 50%;
    height: 45%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;   
}
.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.carousel-slide {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
img {
    width: 100%;
    height: auto;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}
.carousel-buttons {
    position: absolute;
    top:40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}