body {
    background-color: rgb(41, 41, 41);
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    color: white;
}

button {
    background-color: blue;
    border: 0;
    height: 30px;
    width: 90px;
    border-radius: 25px;
}

.header {
    background-color: rgba(58, 58, 58, 0);
    color: white;
    padding: 10px;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: -500px;
}

.navbar {
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 10px;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
}

.productos {
    text-align: center;
    display: flex;
}

.productos img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .header, .navbar {
        flex-direction: column;
        align-items: center;
    }

    .header img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

