body {
    background-color: rgb(41, 41, 41);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    color: white;
    text-decoration: none;
}

h3 {
    color: white;
    font-size: 20px;
}

.navbar a:hover {
    color: rgb(47, 47, 47);
    transition: 0.5s;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(123, 123, 123);
}

.social i {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(88, 88, 88);
    transition: 0.5s;
}

.social i:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(62, 62, 147);
    box-shadow: 3px 3px 3px rgba(149, 149, 149, 0.5);
}

h2 {
    color: white;
    justify-content: center;
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 30px;
}

.boton-inicio {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 50px;
    height: 50px;
}

.up button {
    position: fixed;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    right: 20px;
    background-color: rgb(88, 88, 88);    
}
.up button:hover {
    background-color: rgb(62, 62, 147);
}

button {
    background-color: rgb(88, 88, 88);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 0;
    height: 30px;
    width: 90px;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-style: oblique;
    font-weight: bold;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(62, 62, 147);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

.header {
    background-color: rgba(58, 58, 58, 0);
    color: white;
    padding: 10px;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: -500px;
}

/* .navbar {
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 10px;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
} */

.productos {
    text-align: center;
}

.producto {
    /* background-color: rgb(88, 88, 88);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.productos img:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.carousel {
    width: 240px;
    height: auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(214, 34, 34, 0);
    margin: auto;
}
.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.carousel-slide {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
img {
    width: 100%;
    height: auto;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}
.carousel-buttons {
    position: absolute;
    top:40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* @media only screen and (max-width: 600px) {
    .header, .navbar, .producto {
        flex-direction: column;
        align-items: center;
    }

    .header img {
        margin-right: 0;
        margin-bottom: 10px;
    }
} */

@media only screen and (min-width: 200px) and (max-width: 1024px) {
    body, .header, .navbar, .productos, .producto, .up {
        flex-direction: column;
        align-items: center;
    }

    body {
        padding-top: 250px;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgb(41, 41, 41);
        right: 0;
    }

    .header img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .productos h2 {
        font-size: 20px;
    }

    .productos .boton-inicio {
        width: 50px;
        height: 50px;
    }

    .up button{
        position: fixed;
        bottom: 20px;
        width: 50px;
        height: 50px;
        z-index: 1000;
        right: 20px;
        background-color: rgb(88, 88, 88);    
    }
}