nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul .navbar {
    position: relative;
    display: inline-block;
    color: white;
    border-radius: 25px;
    width: 80px;
    height: 50px;
    text-align: center;
}

nav ul li ul {
    opacity: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    padding: 0;
    list-style-type: none;
    background-color: rgba(88, 88, 88, 0.973);
    border-radius: 15px;
    transition: display 0.5s, opacity 0.5s;
    transition-behavior: allow-discrete;
}

nav ul li:hover ul {
    display: block;
    opacity: 1;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}

nav ul li ul li {
    display: block;
}

.navbar a:hover {
    color: rgb(47, 47, 47);
    transition: 0.5s;
}

@starting-style {

    nav ul li:hover ul {
        opacity: 0;
    }

}

